ion-content {
  --background: #f8f8f8;
}

.header-row {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  .back-icon {
    margin-right: 0.5rem;
    color: #5b2a9a;
  }
  .title {
    font-weight: bold;
    color: #5b2a9a;
  }
}

.add-row {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}
