ion-content {
  --background: #f8f8f8;
}

.profile-container {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  cursor: pointer;
  padding: 8px;
  border-radius: 30px;
  transition: background-color 0.3s ease;
  margin-top: 16px;
  
  &:hover {
    background-color: #f0f0f0;
    
    .profile-avatar {
      background-color: #e0e0e0;
    }
  }
}

.profile-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.profile-avatar ion-icon {
  font-size: 24px;
  color: #6a0dad;
}

.profile-name {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.back-button {
  font-size: 24px;
  color: #6a0dad;
  margin-bottom: 16px;
  cursor: pointer;
  width: 32px;
  height: 32px;
}

.course-title {
  font-size: 32px;
  font-weight: 700;
  color: #42206b;
  text-align: center;
  margin-top: 50px; // Espacio extra para centrar verticalmente
  margin-bottom: 50px; // Espacio extra para centrar verticalmente
  background: linear-gradient(to top, #4a0072, #9c27b0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.subjects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  padding-bottom: 40px;
}

.subject-card {
  background: linear-gradient(to top, #4a0072, #9c27b0);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; // Cambiado para separar el icono del nombre
  align-items: center;
  padding: 20px 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  height: 150px;
  transition: all 0.3s ease;
  
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to top, #380058, #c238db);
  }
}

.subject-icon {
  margin-top: 10px;
  svg, img {
    width: 50px;
    height: 50px;
  }
}

.subject-name {
  font-size: 14px;
  color: white;
  margin: 10px 0;
  text-align: center;
  font-weight: 500;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  
  p {
    margin-top: 16px;
    color: #6a0dad;
    font-size: 16px;
  }
}