<ion-content [fullscreen]="true" class="ion-padding">
  <div class="header-row">
    <ion-button fill="clear" class="back-button" (click)="goBack()">
      <ion-icon name="arrow-back-outline" size="large" class="back-icon"></ion-icon>
    </ion-button>
    <h3 class="title">Administración</h3>
  </div>

  <div class="card-grid">
    <ion-card class="option-card" (click)="manageSubjects()">
      <ion-icon name="school-outline" class="option-icon"></ion-icon>
      <ion-card-content>Asignaturas</ion-card-content>
    </ion-card>

    <ion-card class="option-card" (click)="manageResources()">
      <ion-icon name="documents-outline" class="option-icon"></ion-icon>
      <ion-card-content>Recursos</ion-card-content>
    </ion-card>
  </div>
</ion-content>
